html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  text-align: center;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  background-color: #333;
}

p {
  max-width: 25em;
}

.btn {
  padding: .4em .75em .5em;
  margin: 1.5rem;
  border: 3px solid;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
}

.btn:hover {
  background-color: #666;
}
